header {
  border-bottom: 1px solid white;
  position: absolute;
  width: 100%;
}

.header__wrapper {
  height: 90px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
  font-family: Verdana, Geneva, sans-serif;
  align-items: center;
}

.logo1 {
  width: 175;
  height: 24;
}

.nav-main-menu {
  width: 586px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.nav-main-menu a~a {
  margin-left: 15px;
} 

.srch-eng-right-bar {
  width: 172px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.language {
  display: flex;
  align-items: center;
}

.first-screen {
  height: 800px;
  background-image: url(./img/bgcFirstscreen.svg)
}

.first-screen__title {
padding: 274px 982px 302px 403px;
max-width: 535px;
max-height: 224px;
color: white;
font-family: Verdana, Geneva, sans-serif;
}

h3 {
  width: 420px;
  height: 74px;
  font-size: 64px;
}

.centerSpb{
width: 533px;
height: 68;
}